/* Color Palette
#0f3f3a - Botanical Night
#3ed9cf - Turquoise
#f7f9fc - Ghost White
#eb9486 - Coral Pink
*/

/* Global styles 
------------------------------------*/
body {
    font-family: "Merriweather", sans-serif;
    margin: 0;
}
h1, h2, h3{
    font-family: "Montserrat", serif;
    font-weight: 700;
}
li{
    line-height: 40px;
}
p{
    line-height: 30px;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 24px;
    margin-top: 0;
}
section, header, footer{
    padding: 25px;
}
h1{
    color: #3ed9cf;
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.column-narrow{
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
    min-width: 190px;
}
.column-wide{
    width: 70%;
    float: left;
    min-height: 225px;
}
a{
    color: #eb9486;
    font-weight: 800;
    font-family: "Montserrat", serif;
}

/* Navigation
----------------------------------- */
nav{
    background: #f7f9fc;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.display{
    text-align: center;
}
.display a{
    padding: 25px;
    display: inline-block;
    text-decoration: none;
}

/* Header & Footer 
------------------------------------*/
header, footer{
    background: #0f3f3a;
    color: #f7f9fc;
}
header h2{
    color: #f7f9fc;
}
header h1, h2{
    margin: 0;
}
footer h2{
    color: #3ed9cf;
}
footer{
    text-align: center;
}
.contact-info a{
    padding-right: 30px;
    display: inline-block;
    padding-top: 30px;
    text-decoration: none;
}
.profile-img{
    /*width: 300px;
    float: left;
    margin-right: 30px;*/
    border-radius: 50%;
}

/* Work Experience
------------------------------------*/
.workExperience{
    background: #3ed9cf;
    h2{
        padding-bottom: 25px;
    }
}


/* Education
------------------------------------*/
.education{
    background: #f7f9fc;
    h2{
        padding-bottom: 25px;
    }
}


/* I added media queries so that the nav doesn't 
cut off page content in different screen sizes */

/* Media Queries
----------------------------------- */

/* X-Large devices */
@media (min-width: 1200px) { 
    body{
        padding-top: 70px;
    }
}
/* Large devices */
@media (max-width: 1200px) { 
    body{
        padding-top: 70px;
    }
}
/* Medium devices */
@media (max-width: 839px) { 
    body{
        padding-top: 140px;
    }
}

/* Small devices */
@media (max-width: 502px) { 
    body{
        padding-top: 209px;
    }
}